extends ../layout

block content
  div.p-4
    h1.text-center.mt-3.mb-4 Admin Panel
    div.d-flex.flex-row-reverse
      a(href="/articles/add", class="btn btn-success") Add Article
    h2.mt-2 List of Articles
    each article in articles
      div.card.mt-4.ml-4.mb-4.mr-4.m-auto.w-75 
        div.card
          div.card-body
            h5.card-title=article.title
            p.card-text.mb-2=article.text


    