extends ../layout

block content
  div.p-3
    div.card.mt-4.ml-4.mb-4.mr-4.m-auto.w-75 
      div.card
        div.card-body
          h5.card-title.text-center.mb-3=article.title
          div.mw-100.flex-md-wrap
            p.card-text.mb-2=article.text
          div.mt-4
          a(href="/favorities/"+article._id, class="btn btn-success") Add to Favorities
          a(href="/", class="btn btn-secondary pt-2 customCancel") Go Back



    