extends ../layout 

block content 
    form(action="/login", method="post")
            h1.text-center Login
            div.form-group
            label(for="title") Email
            input(type="text" name="email" class="form-control mt-3" id="email" placeholder="Enter your Email" value="test")
            div.form-group.mt-3
            label(for="text") Password
            input(name="password" class="form-control" id="password" placeholder="Password" value="test")
            button(type="submit" class="btn btn-primary pt-2 mt-3 mr-1") Login