extends ../layout 

block content 
    div.mt-5.ml-5.mb-5.mr-5.m-auto.w-50.card.p-5.bg-dark
        form(action="/register", method="post")
            h1.text-center.text-white Register
            div.form-group
            label(for="title" class="text-white") Name
            input(type="text" name="name" class="form-control " id="name" placeholder="Name")
            label(for="email" class="text-white mt-3") Email
            input(type="email" name="email" class="form-control" id="email" placeholder="Enter your Email")
            div.form-group.mt-3
            label(for="password" class="text-white") Password
            input(name="password" type="password" class="form-control" id="password" placeholder="Password")
            a(href="/login", class="text-white d-block pt-3") Already have an account? Login
            button(type="submit" class="btn btn-primary pt-2 mt-3 mr-1") Register